body {
    background-image: url('./img/cork.png');
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    background-image: url('./img/wall.png');
    background-size: cover;
    padding: 20px;
    color: black;
    text-align: center;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 35px;
}


.card {
    margin-top: 25px;
    background-color: white;
    padding: 20px;
    flex-basis: 350px;
}

.card .pin {
    position: relative;
    top: 0px;
    left: 48%;

}

.card img.thumbnail {
    width: 400px;
    cursor: pointer;
}

.lightbox {
    display: none;
    /* Inizialmente nascosto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* Sfondo scuro */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#closeButton {
    position: absolute;
    background-color: #ff0a0a;
    color: white;
    border-radius: 999px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    top: 80px;
    right: 47%;
    /* 10px dal bordo destro */
    display: none;
}